<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="/Auth/login" method="POST">
        <section>
            <label>Email</label>
            <br/>
            <textarea placeholder="Email" name="Email" id="Email" placeholder="Digite o email"></textarea>
        </section>
        <section>
            <label>Senha</label>
            <br/>
            <textarea placeholder="Password" name="Password" id="Password" placeholder="Digite sua senha"></textarea>
        </section>

        <button>Enviar</button>
    </form>
</body>
</html>