<head>
    <link rel="stylesheet" href="./navbarStyle.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-navbarCustom">
        <a class="title" href="#">Artesanatos</a>
        
    </nav>
</body>