<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro</h1>
    <% if (success == false) { %>
        <h1>O produto nao existe</h1>
    <% } else{ %>
        <form action="/Product/Edit/<%= Product.ID_Category %>?_method=PATCH" method="POST">
            <section>
                <label>Nome do Produto</label>
                <br/>
                <textarea name="Name" id="Name" placeholder="Digite o nome do produto"></textarea>
            </section>
            <section>
                <label>Estoque</label>
                <br/>
                <textarea name="Stock" id="Stock" placeholder="Digite o valor inicial de estoque"></textarea>
            </section>
            <section>
                <label>Preço</label>
                <br/>
                <textarea name="Price" id="Price" placeholder="Digite o Preço base do produto"></textarea>
            </section>
            <section>
                <label>Peso</label>
                <br/>
                <textarea name="Weight" id="Weight" placeholder="Digite o peso do produto"></textarea>
            </section>
            <section>
                <label>Dimensões</label>
                <br/>
                <textarea name="Size" id="Size" placeholder="Digite as dimensões do produto"></textarea>
            </section>
            <section>
                <label>Cor</label>
                <br/>
                <textarea name="Color" id="Color" placeholder="Digite a cor/cores do produto"></textarea>
            </section>
            <section>
                <label>Descrição</label>
                <br/>
                <textarea name="Description" id="Description" placeholder="Digite a descrição do produto"></textarea>
            </section>
            <section>
                <label>Categoria</label>
                <br/>
                <textarea name="Category_name" id="Category_name" placeholder="Digite a categoria do produto"></textarea>
            </section>

            <button>Enviar</button>
        </form>
    <% } %>
</body>
</html>
